@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
    scrollbar-width: 20px;
}

.view {
    animation: open 0.3s forwards;
}

@keyframes open {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.scrollbar::-webkit-scrollbar{
    display: none;
}

.invert{
    filter: invert(1);
}